* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {    
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
}

header {
    height: 150px;  
    background-color: #FF4945;
}

.main {
    height: 300px;
    color: white;
    background-color: #FFA931;
    display: grid;
    grid-column: 1fr 5fr;
}

.sidebar {
    height: 300px;
    color: white;
    background-color: #9B0579;
}

footer {
    height: 100px;
    color: white;
    background-color: #00778F;
}